services: 
  influxdb: 
    image: influxdb:2.7 
    container_name: influxdb 
    environment: 
      - DOCKER_INFLUXDB_INIT_MODE=setup 
      - DOCKER_INFLUXDB_INIT_USERNAME=admin 
      - DOCKER_INFLUXDB_INIT_PASSWORD=admin123 
      - DOCKER_INFLUXDB_INIT_ORG=example-org 
      - DOCKER_INFLUXDB_INIT_BUCKET=example-bucket
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=my-super-secret-token
    ports: 
      - "8086:8086" 
    volumes: 
      - influx_data:/var/lib/influxdb2 
      - ./init-influxdb:/docker-entrypoint-initdb.d



volumes:
  influx_data: